h1{
	color: #5EA9BE;
	background-color: #FDF8E2;
	font-size: 80px ;
}
.box{
	height: 100px;
	width: px;
	background-color: #9ACDE0;
}

.head1{
	background-color: #CBE1EF;
}
.border{
	border: 5px solid #EA9BE5;
}
#head1{
	font-size: 50px;
}
